RewriteEngine On
RewriteBase https://liudmylakozytska.github.io/test-task/

# Перенаправити всі запити на index.html

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.\*)$ https://liudmylakozytska.github.io/test-task/index.html [L]
